# 使用conda环境安装依赖
# conda create -n dl2048 python=3.12 -y
# conda activate dl2048
# conda install -c conda-forge pygame -y
# conda install pytorch torchvision torchaudio -c pytorch -y
# conda install numpy matplotlib -y
# conda install numba -y

pygame>=2.6.1
torch>=2.0.0
numpy>=1.24.0
matplotlib>=3.7.0
tqdm>=4.65.0
numba>=0.58.0